{{- if or ( eq .Values.global.create "AllExceptPVCPV" ) ( eq .Values.global.create "All" ) }}

{{- if .Values.container -}}

{{$replicas:= include "container.replicas" . }}
{{- if ne $replicas "0" }}

{{- if .Values.container.ingress -}}
{{- if .Values.container.ingress.enabled -}}
{{- if .Values.container.ingress.port -}}
{{- $fullName := include "container.fullname" . -}}
{{- $svcPort := .Values.container.ingress.port -}}
{{- if semverCompare ">=1.14-0" .Capabilities.KubeVersion.GitVersion -}}
apiVersion: networking.k8s.io/v1beta1
{{- else -}}
apiVersion: extensions/v1beta1
{{- end }}
kind: Ingress
metadata:
  name: {{ $fullName }}
  labels:
    {{- include "container.labels" . | nindent 4 }}
  {{- with .Values.container.ingress.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  {{- if .Values.container.ingress.tls }}
  tls:
    {{- range .Values.container.ingress.tls }}
    - hosts:
        {{- range .hosts }}
        - {{ . | quote }}
        {{- end }}
      secretName: {{ .secretName }}
    {{- end }}
  {{- end }}
  rules:
    {{- range .Values.container.ingress.hosts }}
    - host: {{ .host | quote }}
      http:
        paths:
          {{- range .paths }}
          - path: {{ .path }}
            backend:
              serviceName: {{ $fullName }}
              servicePort: {{ $svcPort }}
          {{- end }}
    {{- end }}
{{- end }}
{{- end }}
{{- end }}

{{- end }}
{{- end }}

{{- end }}
