[/UsageParameters]


[/UsageParameters/CollectionModule]

ClassName=com.hp.usage.collector.rules.UsageParametersInterface
Parameters=InputTickets,schemeName=%schemeName%|SwitchId=%Norm_SwitchIdIn%|TypeSwitch=%Norm_TypeSwitch%,Input Tickets,SUM


[/UsageParameters/ParsingModule]

ClassName=com.hp.usage.collector.rules.UsageParametersInterface
Parameters=decodedTickets,schemeName=%schemeName%|SwitchId=%Norm_SwitchIdIn%|TypeSwitch=%Norm_TypeSwitch%,Tickets decoded,SUM
Parameters=rejectedTickets_SYN,schemeName=%schemeName%|SwitchId=%Norm_SwitchIdIn%|TypeSwitch=%Norm_TypeSwitch%,Tickets rejected due to syntax errors,SUM


[/UsageParameters/ProcessingModule]

ClassName=com.hp.usage.collector.rules.UsageParametersInterface
Parameters=ticketsCloned,schemeName=%schemeName%|SwitchId=%Norm_SwitchIdIn%|TypeSwitch=%Norm_TypeSwitch%,Tickets cloned for SioFixe and ArborOpe,SUM
Parameters=standardTicketsReceived,schemeName=%schemeName%|SwitchId=%Norm_SwitchIdIn%|TypeSwitch=%Norm_TypeSwitch%, ,number of tickets received on a "standard" processing,SUM
Parameters=rejectedTickets_SYN,schemeName=%schemeName%|SwitchId=%Norm_SwitchIdIn%|TypeSwitch=%Norm_TypeSwitch%, Tickets rejected due to syntax errors,SUM
Parameters=recycleTicketsReceived,schemeName=%schemeName%|SwitchId=%Norm_SwitchIdIn%|TypeSwitch=%Norm_TypeSwitch%,number of tickets received in input for recycling,SUM
Parameters=rejectedTickets_SEM,schemeName=%schemeName%|SwitchId=%Norm_SwitchIdIn%|TypeSwitch=%Norm_TypeSwitch%, Tickets rejected due to semantic errors,SUM
Parameters=ticketsSentToNextModule,schemeName=%schemeName%|SwitchId=%Norm_SwitchIdIn%|TypeSwitch=%Norm_TypeSwitch%, number of tickets sent to the next module,SUM
Parameters=duplicateTicketsFiltered,schemeName=%schemeName%|SwitchId=%Norm_SwitchIdIn%|TypeSwitch=%Norm_TypeSwitch%, number of filtered tickets (for deduplication corresponds to duplicate tickets),SUM
Parameters=ticketsFiltered,schemeName=%schemeName%|SwitchId=%Norm_SwitchIdIn%|TypeSwitch=%Norm_TypeSwitch%, Filtered tickets,SUM


# Guiding

[/UsageParameters/ProcessingModule_Guiding]

ClassName=com.hp.usage.collector.rules.UsageParametersInterface
Parameters=ticketsRoutedTo_EntFixe,schemeName=%schemeName%|SwitchId=%Norm_SwitchIdIn%|TypeSwitch=%Norm_TypeSwitch%,guided tickets to EntFixe,SUM
Parameters=ticketsRoutedTo_ArborGp,schemeName=%schemeName%|SwitchId=%Norm_SwitchIdIn%|TypeSwitch=%Norm_TypeSwitch%,guided tickets to ArborGp,SUM
Parameters=ticketsRoutedTo_ArborOpe,schemeName=%schemeName%|SwitchId=%Norm_SwitchIdIn%|TypeSwitch=%Norm_TypeSwitch%,guided tickets to ArborOpe,SUM
Parameters=ticketsRoutedTo_Diwa,schemeName=%schemeName%|SwitchId=%Norm_SwitchIdIn%|TypeSwitch=%Norm_TypeSwitch%,guided tickets to Diwa,SUM
Parameters=ticketsRoutedTo_EntMobile,schemeName=%schemeName%|SwitchId=%Norm_SwitchIdIn%|TypeSwitch=%Norm_TypeSwitch%,guided tickets to EntMobile,SUM
Parameters=ticketsRoutedTo_SioFixe,schemeName=%schemeName%|SwitchId=%Norm_SwitchIdIn%|TypeSwitch=%Norm_TypeSwitch%,guided tickets to SioFixe,SUM
Parameters=ticketsRoutedTo_MobileIn,schemeName=%schemeName%|SwitchId=%Norm_SwitchIdIn%|TypeSwitch=%Norm_TypeSwitch%,guided tickets to MobileIn,SUM
Parameters=ticketsRoutedTo_MobileOut,schemeName=%schemeName%|SwitchId=%Norm_SwitchIdIn%|TypeSwitch=%Norm_TypeSwitch%,guided tickets to MobileOut,SUM
Parameters=ticketsRoutedTo_Si800,schemeName=%schemeName%|SwitchId=%Norm_SwitchIdIn%|TypeSwitch=%Norm_TypeSwitch%,guided tickets to Si800,SUM
Parameters=ticketsRoutedTo_Tca,schemeName=%schemeName%|SwitchId=%Norm_SwitchIdIn%|TypeSwitch=%Norm_TypeSwitch%,guided tickets to Tca,SUM
Parameters=ticketsRoutedTo_None,schemeName=%schemeName%|SwitchId=%Norm_SwitchIdIn%|TypeSwitch=%Norm_TypeSwitch%,guided tickets to None,SUM
Parameters=ticketsValidAfterGuiding,schemeName=%schemeName%|SwitchId=%Norm_SwitchIdIn%|TypeSwitch=%Norm_TypeSwitch%,tickets at the end of the guiding scheme,SUM

# Outputs

[/UsageParameters/ProcessingModule_Output]

ClassName=com.hp.usage.collector.rules.UsageParametersInterface
Parameters=ticketsDeliveredTo_SioFixe,schemeName=%schemeName%|SwitchId=%Norm_SwitchIdIn%|TypeSwitch=%Norm_TypeSwitch%,tickets sent to SioFixe,SUM
Parameters=ticketsDeliveredTo_ArborGp,schemeName=%schemeName%|SwitchId=%Norm_SwitchIdIn%|TypeSwitch=%Norm_TypeSwitch%,tickets sent to ArborGp,SUM
Parameters=ticketsDeliveredTo_ArborOpe,schemeName=%schemeName%|SwitchId=%Norm_SwitchIdIn%|TypeSwitch=%Norm_TypeSwitch%,tickets sent to ArborOpe,SUM
Parameters=ticketsDeliveredTo_EntFixe,schemeName=%schemeName%|SwitchId=%Norm_SwitchIdIn%|TypeSwitch=%Norm_TypeSwitch%,tickets sent to EntFixe,SUM
Parameters=ticketsDeliveredTo_EntMobile,schemeName=%schemeName%|SwitchId=%Norm_SwitchIdIn%|TypeSwitch=%Norm_TypeSwitch%,tickets sent to EntMobile,SUM

