[/]

ClassName=ConnectorManager
ConnectorNames=JDBCClientConnector
ConnectorNames=RemoteConnector
ConnectorNames=Scheduler


[/JDBCClientConnector]

ClassName=JDBCClientConnector
Operations=JDBCOpLookupRefResetCounters
OpNameAttribute=jdbcOperationNameString


[/JDBCClientConnector/JDBCOpLookupRefResetCounters]

ClassName=JDBCLookupOperation
CommitQuery=false
CommonPolicyID=PolicyRefs
FieldExtracted=SCHEME_NAME,SchemeName
FieldExtracted=SWITCH_ID,Norm_SwitchIdIn
FieldExtracted=TYPE_SWITCH,Norm_TypeSwitch
QueryCondition=where SCOPE = %processType and ENABLED = 1
QueryConditionAttributes=SCOPE,VarChar
QueryConditionAttributes=ENABLED,Integer
QueryString=select %FIELDS from REFS_MEDIATION.REF_RESET_COUNTERS


[/RemoteConnector]

ClassName=RemoteConnector


[/Scheduler]

ClassName=Scheduler
ScheduledJobs=jobResetCounters


[/Scheduler/jobResetCounters]

PollIntervalClassName=com.hp.siu.utils.CrontabInterval
QueryInterval=${CRONTAB_RESETCOUNTERS}
Tasks=taskResetCounters


[/Scheduler/jobResetCounters/taskResetCounters]

ClassName=InvokeRuleChainTask
InputNMEAttributes=EndTime,%current_time%
RuleChain=ResetCounters

