[/]

Attributes=recordTag
Attributes=Norm_CodeErreur
Attributes=Norm_DonneesErreur
Attributes=Norm_IndexSchemaErreur
Attributes=Norm_NbRecyclage
Attributes=Norm_ANum
Attributes=Norm_ANumOrigine
Attributes=Norm_ANumNature
Attributes=Norm_ANumNetworkPrefix
Attributes=Norm_ANumPortaPrefix
Attributes=Norm_AttestationInfo
Attributes=Norm_BNum
Attributes=Norm_BNumNature
Attributes=Norm_BNumNetworkPrefix
Attributes=Norm_BNumPortaPrefix
Attributes=Norm_BillClassOp
Attributes=Norm_BillClassGp
Attributes=Norm_CollectionChain
Attributes=Norm_CNum
Attributes=Norm_CNumNature
Attributes=Norm_CNumNetworkPrefix
Attributes=Norm_CNumPortaPrefix
Attributes=Norm_CategorieRSVA
Attributes=Norm_CodeOffre
Attributes=Norm_CodePrix
Attributes=Norm_DateTime
Attributes=Norm_DurFranchiseHp
Attributes=Norm_Duree
Attributes=Norm_IdentityBypass
Attributes=Norm_IdentityBypassToken
Attributes=Norm_IdentityUrl
Attributes=Norm_IntercoIN
Attributes=Norm_IntercoOUT
Attributes=Norm_LocId
Attributes=Norm_NDS
Attributes=Norm_NDSNature
Attributes=Norm_OpeSva
Attributes=Norm_OriginationSPID
Attributes=Norm_OrigInt
Attributes=Norm_ANumOrigineNature
Attributes=Norm_PortabiliteSpec
Attributes=Norm_ProtoTrunkIn
Attributes=Norm_ProtoTrunkOut
Attributes=Norm_Prefixe
Attributes=Norm_ReasonCode
Attributes=Norm_ReasonText
Attributes=Norm_RecordId
Attributes=Norm_ResultatAppel
Attributes=Norm_SensCDR
Attributes=Norm_SensSIO
Attributes=Norm_ServiceKeyInt
Attributes=Norm_SwitchIdFromFilename
Attributes=Norm_SwitchIdIn
Attributes=Norm_SwitchIdOut
Attributes=Norm_TypeSwitch
Attributes=Norm_Sysfact
Attributes=Norm_TaxationArriere
Attributes=Norm_TpsAttente
Attributes=Norm_TrunkIN
Attributes=Norm_TrunkOUT
Attributes=Norm_TypeAcces
Attributes=Norm_TypeOffre
Attributes=Norm_TypeService
Attributes=Norm_TypeTicket
Attributes=Norm_TypeTrunkIN
Attributes=Norm_TypeTrunkOUT
Attributes=Norm_TypeUsageEnt
Attributes=Norm_UT
Attributes=Norm_Valo
Attributes=Norm_VerstatValue
Attributes=Norm_Res01
Attributes=Norm_Res02
Attributes=Norm_Res03
Attributes=Norm_Res04
Attributes=Norm_Res05
Attributes=Norm_Res06
Attributes=Norm_Res07
Attributes=Norm_Res08
Attributes=Norm_Res09
Attributes=Norm_Res10
Attributes=Norm_Res11
Attributes=Norm_Res12
Attributes=Norm_Res13
Attributes=Norm_Res14
Attributes=Norm_Res15
Attributes=Norm_Res16
Attributes=Norm_Res17
Attributes=Norm_Res18
Attributes=Norm_Res19
Attributes=Norm_Res20
Attributes=flagAida
Attributes=flagArborGp
Attributes=flagArborOpe
Attributes=flagDiwa
Attributes=flagEntFixe
Attributes=flagEntMobile
Attributes=flagFVNPassed
Attributes=flagInfocentre
Attributes=flagNone
Attributes=flagOpeRevers
Attributes=flagSap
Attributes=flagSi800
Attributes=flagSioFixe
Attributes=flagSioMobile
Attributes=flagSioMobileIn
Attributes=flagSioMobileOut
Attributes=flagTca
Attributes=flagTedh
Attributes=flagRes01
Attributes=flagRes02
Attributes=flagRes03
Attributes=flagRes04
Attributes=flagRes05
