
[/]

ClassName=RuleChainManager
MaxPoolSize=1
MinPoolSize=1
RuleChainNames=ResetCounters


[/ResetCounters]

ClassName=RuleChain
RuleNames=00.Init
RuleNames=01.ExecuteQuery


[/ResetCounters/00.Init]

AdornOps=set processType ${PROCESS_TYPE}
AdornOps=set jdbcOperationNameString JDBCOpLookupRefResetCounters
ClassName=AdornmentRule


[/ResetCounters/01.ExecuteQuery]

ClassName=SynchronousLookupRule
ConnectorName=JDBCClientConnector


[/ResetCounters/01.ExecuteQuery/ResultRowRule]

ClassName=RuleChain
RuleNames=01.Log
RuleNames=02.ResetCountersCollectionModule
RuleNames=03.ResetCountersParsingModule


[/ResetCounters/01.ExecuteQuery/ResultRowRule/01.Log]

Attributes=Norm_SwitchIdIn
Attributes=Norm_TypeSwitch
Attributes=SchemeName
Attributes=processType
ClassName=LogNMERule
LogLevel=INFO
Message=>>>> RuleChains/ResetCounters/01.ExecuteQuery/ResultRowRule/01.Log :


[/ResetCounters/01.ExecuteQuery/ResultRowRule/02.ResetCountersCollectionModule]

ClassName=com.hp.usage.collector.rules.UsageParametersRule
Set=CollectionModule
Operations=set,InputTickets,0
UsageParametersFile=file:///var/opt/bits/App/stats/fixe/Fixe_Statistics.config


[/ResetCounters/01.ExecuteQuery/ResultRowRule/03.ResetCountersParsingModule]

ClassName=com.hp.usage.collector.rules.UsageParametersRule
Set=ParsingModule
Operations=set,decodedTickets,0
Operations=set,rejectedTickets_SYN,0
UsageParametersFile=file:///var/opt/bits/App/stats/fixe/Fixe_Statistics.config


