[/]

ClassName=FileSource
CleanupHandler=CleanupHandler
TailingMode=none


[/CleanupHandler]

ClassName=DuplicateFileCleanupHandler
CleanupHandler=CleanupHandler
DuplicateCleanupHandler=DuplicateCleanupHandler


[/CleanupHandler/CleanupHandler]

ClassName=MoveFileCleanupHandler
DirName=${DIR_INPUT}
Suffix=done


[/CleanupHandler/DuplicateCleanupHandler]

ClassName=MoveFileCleanupHandler
DirName=${DIR_INPUT}
Suffix=dup


[/FileRollPolicy]

ClassName=PatternDirectoryPolicy
DirectoryName=${DIR_INPUT}
FilePattern=^(?!.*done$).*$
