
[/]

ClassName=CCFFileEncapsulator
CleanupOnError=true
CleanupOnRuleError=true
EndOnError=false
EndOnRuleError=false
FileNameField=inputFileName
FlushOnEOF=true
FormatId=${FORMAT_ID}
PurgeOnError=true
StreamPreprocessor=DuplicateFileDetection
TransformationNamespace=${TRANSFORMATION_NAMESPACE}


[/DuplicateFileDetection]

ClassName=DuplicateFileDetector


