[/]

CacheCleanupHandler=CacheCleanupHandler
CacheDir=/var/opt/SIU/cache
ClassName=FileManagerSource
CleanupHandler=CleanupHandler
ErrorCleanupHandler=ErrorCleanupHandler
FileNameSource=FileNameSource
FileServerURI=${S3_FILESERVERURI}
NumberRetries=3
RetryTimeout=10
TimeOut=5000


[/CacheCleanupHandler]

ClassName=DeleteFileCleanupHandler


[/CleanupHandler]

ClassName=DuplicateFileCleanupHandler
CleanupHandler=CleanupHandler
DuplicateCleanupHandler=DuplicateCleanupHandler


[/CleanupHandler/CleanupHandler]

ClassName=MoveFileCleanupHandler
DirName=${DIR_INPUT}
Suffix=done


[/CleanupHandler/DuplicateCleanupHandler]

ClassName=MoveFileCleanupHandler
DirName=${DIR_INPUT}/duplicates
Suffix=dup


[/ErrorCleanupHandler]

ClassName=MoveFileCleanupHandler
DirName=${DIR_INPUT}/errors
Suffix=err


[/FileNameSource]

BrokerURL=${KAFKA_BROKERURL}
ClassName=com.hp.usage.hdfs.source.KafkaFileNameSource
ConsumerPartitionMode=Automatic

# --- Security ---
ConsumerProperties=sasl.jaas.config,${KAFKA_SASL_JAAS_CONFIG}
ConsumerProperties=sasl.mechanism,${KAFKA_SASL_MECHANISM}
ConsumerProperties=security.protocol,${KAFKA_SECURITY_PROTOCOL}

#--- Boot/offsets ---
ConsumerProperties=auto.offset.reset,earliest

# --- Membership stability / heartbeats ---
ConsumerProperties=heartbeat.interval.ms,2000
ConsumerProperties=session.timeout.ms,45000

# --- Poll cadence (avoid long blocking) ---
ConsumerProperties=max.poll.interval.ms,600000
ConsumerProperties=max.poll.records,1
ConsumerProperties=max.partition.fetch.bytes,1048576

# --- Long-poll Kafka: quick responses even with low traffic ---
ConsumerProperties=fetch.min.bytes,1
ConsumerProperties=fetch.max.wait.ms,1000

# --- Soft rebalance (optional but recommended) ---
ConsumerProperties=partition.assignment.strategy,org.apache.kafka.clients.consumer.CooperativeStickyAssignor

# --- Static membership (KIP-345): unique value per pod ---
ConsumerProperties=group.instance.id,${POD_NAME}

# --- Client ID for tracing (optional) ---
ConsumerProperties=client.id,${POD_NAME}

# --- Group and topic ---
GroupId=${KAFKA_GROUPID}
Topic=${KAFKA_TOPIC}

# --- Component timeout (NO Kafka): prevent “burst per minute” ---
MaxWaitTime=5000


[/FileRollPolicy]

BatchMode=false
ClassName=PatternDirectoryPolicy
DirectoryName=${DIR_INPUT}
FilePattern=.*
RefreshModTime=false
SortingOrder=None

