[/]

CRONTAB_RESETCOUNTERS=0 0 * * *
DBREF_CLASS=${DATABASECLASS}
DBREF_PASSWORD=${DATABASEPASSWORD}
DBREF_URL=${DATABASEURL}
DBREF_USER=${DATABASEUSER}
DBSIU_CLASS=${DATABASECLASS}
DBSIU_PASSWORD=${DATABASEPASSWORD}
DBSIU_URL=${DATABASEURL}
DBSIU_USER=${DATABASEUSER}
DIR_INPUT=/data/ims/r10/input
DISPATCH_MODE=LOCAL
FORMAT_ID=IMSR10.File
POD_NAME=IMSR10
TRANSFORMATION_NAMESPACE=http://www.hp.com/usage/datastruct/transform/XFD_IMSR10_to_SNME_IMSR10
