[/]

ClassName=com.hp.siu.collector.datastore.MuxDatastore
Database=${DBSIU_URL}
DatabaseClass=${DBSIU_CLASS}
DefaultDatastore=DatastoreDefault
FilterMap=S02FVN,DatastoreNormalized,FilterNormalized
FilterMap=S03Rejected,DatastoreRejected,FilterRejected
FilterMap=S99PostProcessing,DatastorePostProcessing,FilterPostProcessing
Password=${DBSIU_PASSWORD}
SchemeMap=S02FVN,DatastoreNormalized
SchemeMap=S03Rejected,DatastoreRejected
SchemeMap=S99PostProcessing,DatastorePostProcessing
User=${DBSIU_USER}


[/DatastoreDefault]

BlockOnNotify=false
ClassName=IDRJDBCDatastore
Database=${DBSIU_URL}
DatabaseClass=${DBSIU_CLASS}
DisplayHeader=false
FileNameTemplate='output/Default/%inputFileName%.default'
IDRType=Delimiter
NotifyCommand=/var/opt/bits/App/scripts/notifiers/notifyL1.sh --label Default --dispatchMode DELETE
Password=${DBSIU_PASSWORD}
Separator=|
User=${DBSIU_USER}


[/DatastoreDefault/Body]

Attributes=inputFileName


[/DatastoreNormalized]

BlockOnNotify=false
ClassName=IDRJDBCDatastore
Database=${DBSIU_URL}
DatabaseClass=${DBSIU_CLASS}
DisplayHeader=false
FileNameTemplate='output/Norm/%inputFileName%.norm'
IDRType=Delimiter
NotifyCommand=/var/opt/bits/App/scripts/notifiers/notifyL1.sh --label Main --dispatchMode ${DISPATCH_MODE}
Password=${DBSIU_PASSWORD}
Separator=|
User=${DBSIU_USER}


[/DatastoreNormalized/Body]

LinkBundle=ims/attributes/common/normalizedformat


[/DatastorePostProcessing]

BlockOnNotify=true
ClassName=IDRJDBCDatastore
Database=${DBSIU_URL}
DatabaseClass=${DBSIU_CLASS}
DisplayHeader=false
FileNameTemplate='output/PostProcessing/%inputFileName%'
IDRType=Delimiter
Password=${DBSIU_PASSWORD}
NotifyCommand=/var/opt/bits/App/scripts/notifiers/notifyL1.sh --label PostProcessing --dispatchMode POST_PROCESSING --sourceLabel R7
Separator=|
User=${DBSIU_USER}


[/DatastorePostProcessing/Body]

Attributes=inputFileName


[/DatastoreRejected]

BlockOnNotify=false
ClassName=IDRJDBCDatastore
Database=${DBSIU_URL}
DatabaseClass=${DBSIU_CLASS}
DisplayHeader=false
FileNameTemplate='output/Norm/%inputFileName%.rejected.norm'
IDRType=Delimiter
NotifyCommand=/var/opt/bits/App/scripts/notifiers/notifyL1.sh --label Rejected --dispatchMode ${DISPATCH_MODE}
Password=${DBSIU_PASSWORD}
Separator=|
User=${DBSIU_USER}


[/DatastoreRejected/Body]

LinkBundle=ims/attributes/common/normalizedformat


[/FilterDefault]

ClassName=FilterRule
Conditions=flagFVN,=,9999
OnMatch=keep


[/FilterNormalized]

ClassName=FilterRule
Conditions=flagFVN,=,1
Conditions=rejectCode,=,NONE
Operations=and
OnMatch=keep


[/FilterPostProcessing]

ClassName=FilterRule
Conditions=flagFVN,=,1
OnMatch=keep


[/FilterRejected]

ClassName=FilterRule
Conditions=flagFVN,=,0
Conditions=rejectCode,!=,NONE
Operations=and
OnMatch=keep
