[/]

ClassName=com.hp.usage.jdbc.poolservice.JDBCConnectionPoolService
ConnectionPools=PoolRefs
ConnectionPools=PoolSiu20


[/CommonConnectionPolicies]

ClassName=com.hp.usage.jdbc.poolservice.client.ConnectionPolicies
Policies=PolicyRefs
Policies=PolicySiu20


[/CommonConnectionPolicies/PolicyRefs]

ClassName=com.hp.usage.jdbc.poolservice.client.SimpleConnectionPolicy
Pools=PoolRefs


[/CommonConnectionPolicies/PolicySiu20]

ClassName=com.hp.usage.jdbc.poolservice.client.SimpleConnectionPolicy
Pools=PoolSiu20


[/PoolRefs]

ClassName=com.hp.usage.jdbc.poolservice.pool.JDBCConnectionPool
ConnectionTestQuery=select 1
Database=${DBREF_URL}
DatabaseClass=${DBREF_CLASS}
InitialPoolSize=1
MaxIdleTime=0
MinPoolSize=1
MaxPoolSize=1
Password=${DBREF_PASSWORD}
User=${DBREF_USER}


[/PoolSiu20]

ClassName=com.hp.usage.jdbc.poolservice.pool.JDBCConnectionPool
ConnectionTestQuery=select 1
Database=${DBSIU_URL}
DatabaseClass=${DBSIU_CLASS}
InitialPoolSize=1
MaxIdleTime=0
MinPoolSize=1
MaxPoolSize=1
Password=${DBSIU_PASSWORD}
User=${DBSIU_USER}
