[/]

CCFLoader=ccfloader
ClassName=com.hp.siu.adminagent.procmgr.CollectorProcess
Description=
JDBCConnectionPoolService=PoolService
RepositoryLoader=repository
SNMESchemaLoader=snmeloader


[/Aggregator]

LinkBundle=ims/aggregators/R7


[/ccfloader]

ClassName=com.hp.usage.ccf.framework.CCFLoader
FormatPath=datamodel
TransformPath=datamodel


[/Connectors]

LinkBundle=ims/connectors


[/Datastore]

LinkBundle=ims/datastores/R7


[/Encapsulator]

LinkBundle=ims/encapsulators


[/Encapsulator/StreamSource]

LinkBundle=ims/encapsulators/streamsources/local


[/Environment]

LinkBundle=ims/env/local/R7


[/License]


[/Logging]

ClassName=SvrLogManager
FILECOUNT=10
MAXSIZE=1D
TIMESTAMPSUFFIX=yyyyMMddHHmmss


[/PoolService]

LinkBundle=ims/services/poolservice


[/Properties]

JVMOPTS=%DEFAULTS%
JVMOPTS=-Xms128m
JVMOPTS=-Xmx1024m
JVMOPTS=-DResetInstrument=true
JVMPROPERTIES=FILECOUNT=10
JVMPROPERTIES=MAXSIZE=1D
JVMPROPERTIES=TIMESTAMPSUFFIX=yyyyMMddHHmmss
PROCESSARGS=-l 4
STARTUPMODE=Manual


[/repository]

ClassName=com.hp.usage.repository.RepositoryContentLoader
ContentPath=datamodel/factory


[/RuleChains]

LinkBundle=ims/rulechains


[/Services]

ClassName=ServiceManager
ServiceNames=DecisionTableService


[/Services/DecisionTableService]

ClassName=DecisionTableService


[/snmeloader]

ClassName=com.hp.usage.nme.schemaloader.NMESchemaLoader
SchemaPath=datamodel


