

[/License]

Comments=IUM 10.17
Comments=Collectors are deployed within pods in a Kubernetes cluster. IP addresses are though dynamically assigned. I have just indicated a single IP address taken from the customer infrastructure.
Comments=Please let me know if I need to provide further information
Company=SFR
ConfigServerIP=10.19.60.228
Contact=laurent.martin@sfr.com
CustomerID=
DeploymentType=Standard
ExpiredDate=00/00/0000
OpportunityID=eIUM Batch mediation
SerialNumber=FR1017D204813
Signature=302d021500957a6fea6353f09d77fcd3747502010ecea2e4df02144c35c065ead01260eb4f641c0870bf04aaed7274
SignatureV2=302c021435868f9f674d140cbed0771d9ff57389f990b9a5021443a9ba89068f5828040f7346532e4e5379abbc4d
SubscriberUsageAuditing=false,CollectorServer
TotalCollectors=50
TotalNMERate=10000
TpsAuditOn=false


[/License/OEM]

ExpiredDate=00/00/0000
SerialNumber=FR1017D204813
Signature=302c02140d09edd0e1c687de48a51fa266ffb06e6c643756021436aded8c78c971c3df039e1d3b64ee675c2b92b0
SignatureV2=302d021452feda534d971de95d162ddbb97540987dbe1f4702150094c71e47dd9b003d21fdaecf6591d03153a9eca2


[/License/Premium]

Allow=com.hp.usage.datastruct.scripting.rule.ScriptingRule,1
Allow=com.hp.usage.kafka.connector.KafkaConnector,1
Allow=com.hp.usage.kafka.connector.KafkaClientRule,1
Allow=com.hp.usage.kafka.connector.StartConnectorRule,1
Allow=com.hp.usage.kafka.connector.KafkaConnectorDelivery,1
Deny=com.hp.usage.diameter.DiameterAdapter
Deny=com.hp.usage.diameter.DiameterClientRule
Deny=com.hp.usage.diameter.DiameterTCPTransport
Deny=com.hp.siu.protocolengine.radiusprotocolengine.RadiusProtocolConnector
Deny=com.hp.usage.radius.adapter.RadiusAdapter
Deny=com.hp.usage.radius.adapter.RadiusClientRule
Deny=com.hp.siu.plugins.tomcat.HttpConnector
Deny=com.hp.siu.plugins.gtpp.CiscoCSGGTPpConnector
Deny=com.hp.usage.eap.adapter.EAPAdapter
Deny=com.hp.usage.eap.adapter.EAPClientRule
Deny=com.hp.usage.loadbalancer.IUMLBManager
Deny=com.hp.usage.loadbalancer.LoadbalancerRule
Deny=com.hp.usage.loadbalancer.router.LoadbalancerRouter
Deny=com.hp.usage.loadbalancer.router.LoadbalancerRedirector
Deny=com.hp.usage.jds.client.JDSFileSource
Deny=com.hp.usage.jds.client.JDSLeafSource
Deny=com.hp.usage.jds.client.JDSFileDelivery
Deny=com.hp.usage.jds.client.JDSFilePersistentStore
Deny=com.hp.usage.ipdr.sp.JDSIPDRSpNMESource
Deny=com.hp.usage.jds.service.JDSStoreService
Deny=com.hp.usage.packet.SniffingConnector
Deny=com.hp.usage.packet.SpoofingConnector
Deny=com.hp.usage.wildfly.service.WildflyApplicationService
ExpiredDate=00/00/0000
SerialNumber=FR1017D204813
Signature=302c021462798ca99c13459d33e6a74f5b690cc15cd6a90c02141a9777a2cdefc8e924a5d82da905a6b97d9a0a24
SignatureV2=302c0214057d18b4f6977a05f1e22384a594f604b1311f4602141dcf2076ef6aca873759ec6eae3dbc358c0363ae


[/License/Throughput]

ExpiredDate=00/00/0000
SerialNumber=FR1017D204813
Signature=302c02147cd659acf275eb266b0a20e4829e28e4a220217502140d73dc804128cac4cc5cc82509852aca3ecfc574
SignatureV2=302c02147e6d0529a9ecfc7ebd83730ae2eca5810f362f60021478710c3d505dfe6391f6d427ab77bf00040fef2d


[/License/Workflow]

Allow=com.hp.usage.workflow.fcs.WorkflowJobNotifier,50,,
ExpiredDate=00/00/0000
SerialNumber=FR1017D204813
Signature=302c02141be6fb190ca863c7eee5114bf9d53d91714939270214486dcbda0133b3591c322003de72d889d9b5d3c8
SignatureV2=302d02144933cb2742ab81a97b0c63fd67dac1c9e74bf5a7021500808aba26de6809ef32f21c7e610c55db3352e6a0
